<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template>Normal</Template><TotalTime>246</TotalTime><Pages>19</Pages><Words>3115</Words><Characters>17762</Characters><Application>Microsoft Office Word</Application><DocSecurity>0</DocSecurity><Lines>148</Lines><Paragraphs>41</Paragraphs><ScaleCrop>false</ScaleCrop><Company>KWM</Company><LinksUpToDate>false</LinksUpToDate><CharactersWithSpaces>20836</CharactersWithSpaces><SharedDoc>false</SharedDoc><HyperlinksChanged>false</HyperlinksChanged><AppVersion>16.0000</AppVersion></Properties>